# -----------------------------------------------------------
# NOTE! Never push the .env file to a repository.
# This example documents the required environment variables.
# -----------------------------------------------------------

# Database
# DB_CONNECTION_STRING="postgresql://user:password@localhost:5432/database"
DB_CONNECTION_STRING=

# Server
PORT=

# JWT
JWT_SECRET=
JWT_LIFE=